/** @format */

body {
  margin: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px !important;
  overflow-y: scroll !important;
  padding-right: 0px !important;
  /* overflow-x: scroll !important; */
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

.menu_I {
  font-size: 1.6rem;
}

.menu_I:hover {
  background-color: #0076ce;
  color: white;
}

.main-card--container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-gap: 50px;
  justify-content: space-around;
}
.card-container {
  margin: 25px 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
}

.card-title {
  text-align: start;
  padding-left: 15%;
}

.card-body h2 {
  margin-top: 10px;
}

.card-body p {
  margin: 0 !important;
}

.enroll {
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.enroll:hover {
  color: #fff;
  background-color: black;
}
.UploadLoagoBtn {
  margin-left: 10%;
  border: 1px solid black;
  padding: 5px;
  width: 80%;
  transition: 0.5 s ease-in-out;
}

.UploadLoagoBtn:hover {
  background-color: black;
  color: #fff;
}

.searchNar {
  color: black;
  border: 1px solid black !important;
  margin-left: 60%;
  margin-bottom: 3%;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
}

.searchNar:focus {
  border: 1px solid black !important;
}

.FormTrial {
  display: flex;
  margin-top: 3%;
  transition: 0.5s;

  justify-content: space-evenly;
}
.FormTrial {
  text-align: left;
}
.FormTrial label {
  margin-top: 2%;
}
.FormTrial input {
  width: 300px;
  border: 1px solid black;
  padding: 5px;
  margin-top: 1%;
}
.hiddenDiv {
  border-right: 1px solid black;
  min-height: 40vh;
}
.FormTrial button {
  border: 1px solid #2056ae;
  margin-top: 5%;
  padding: 5px;
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
}
.FormTrial .right {
  width: 32%;
  background-color: #fff;
  padding: 2%;
  border-radius: 10px;
  padding-top: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.FormTrial button:hover {
  color: white;
  background-color: #2056ae;
  cursor: pointer;
}
.FormTrial input:focus {
  border: 1px solid black !important;
}

.trialImg img {
  width: 100%;
}

.trialNewForm {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}
.trialNewForm label {
  text-align: left;
  margin-top: 1%;
}
.trialNewForm input {
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  width: 300px;
}

.trialNewForm button {
  background-color: #3385d6;
  color: #fff;

  margin-top: 10%;
  width: 250px;
  padding: 10px;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 30px;
}

.subsDIV {
  min-height: 40vh !important;
  background-color: #1830ac;
  position: absolute;
  width: 100% !important ;
  z-index: -1;
  margin-top: 15%;
}

.subsImages img {
  cursor: pointer;
}

.BillingDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
.BillingDiv input {
  border: 1px solid #e1e1e1;
  background-color: #fff;
  width: 300px;
  padding: 5px;
}

.BillingDiv label {
  margin-top: 5%;
}

.BillingDiv .left {
  /* display: flex; */
  /* gap: 2rem; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 60%;
  /* justify-content: space-evenly; */
  background-color: #f2f2f2;
  text-align: center;
  border: 2px solid #f2f2f2;
  /* margin: 5%; */
}
.BillingDiv .left .divSub {
  display: flex;
  justify-content: space-evenly;
}
.BillingDiv .left .up {
  /* margin-left: 5%;
  margin-top: 2%; */
  margin: 5%;
}

.BillingDiv .left .down {
  margin: 5%;
}
.BillingDiv .left button {
  background-color: #04a96d;
  width: 100%;
  margin-top: 1%;
  padding: 5px;
  color: #fff;
}

.BillingDiv .right {
  width: 20%;
  background-color: #f2f2f2;

  height: 300px;
}

.BillingDiv .right h5 {
  font-size: 2rem;
  margin-top: 5%;
  font-weight: bold;
}

.BillingDiv .right p {
  color: blue;
  text-align: left;
  margin: 0;
  margin-top: 2%;
  margin-left: 2;
}
