/** @format */

body {
  margin: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px !important;
  overflow-y: scroll !important;
  padding-right: 0px !important;
  /* overflow-x: scroll !important; */
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

.menu_I {
  font-size: 1.6rem;
}

.menu_I:hover {
  background-color: #0076ce;
  color: white;
}

.main-card--container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-gap: 50px;
  justify-content: space-around;
}
.card-container {
  margin: 25px 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
}

.card-title {
  text-align: start;
  padding-left: 15%;
}

.card-body h2 {
  margin-top: 10px;
}

.card-body p {
  margin: 0 !important;
}

.enroll {
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  border-radius: 6px;
}

.enroll:hover{
  color: #fff;
  background-color: black;
}
