/** @format */

.myNav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1%;
}
.myNav .up {
  width: 200px;
}
.myNav .mid{
    /* display: flex; */
    /* font-size: 1.5rem; */
}
.myNav .mid input {
  border: 1px solid black;
  width: 600px;
  /* padding: 5px; */
  outline: none;
  color: black;
}
.myNav .down ul {
  display: flex;
  gap: 30px;
}

.myNav .mid input:focus{
    border: 1px solid black !important;
}