/** @format */

.myNav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 2.5%;
}
.myNav .up {
  width: 200px;
}
.myNav .mid input {
  border: 1px solid black;
  width: 200px;
}
.myNav .down ul {
  display: flex;
  gap: 30px;
}
