/** @format */

.myNav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1%;
}
.myNav .up {
  width: 200px;
}
.myNav .mid {
  margin-top: 1%;
}
.myNav .mid input {
  border: 1px solid #d9d9d9;
  width: 600px;
  padding: 5px;
  outline: none;
  color: black;
  background-color: #d9d9d9;
}
.myNav .down ul {
  display: flex;
  gap: 30px;
}
.myNav .down ul li {
  cursor: pointer;
}
.myNav .down {
  margin-top: 1.5%;
}

.myNav .mid input:focus {
  border: 1px solid black !important;
}

/* ------------------------------------------------- */

.CourseNav {
  background-color: #475766;
  margin-top: 2%;
}

.CourseNav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.CourseNav ul li {
  font-size: 2rem;
  color: #c88a32;
  cursor: pointer;
}
.CourseNav ul li:hover {
  color: #fff;
}

/* ------------------------------------------------ */

.HomeTwoSec {
  display: flex;
  /* justify-content: space-between; */

  gap: 10%;
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
}
.HomeTwoSec .left video {
  border-radius: 20px;
  border: 8px solid #838385;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.HomeTwoSec .right {
  text-align: left;
}

.HomeTwoSec .right p {
  font-size: 2rem;
}

.HomeTwoSec .right button {
  text-align: center !important;
  display: block;
  margin: auto;
  padding: 10px;
  background-color: #3386d6;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;

  width: 300px;
  border: 1px solid #3386d6;
}

/* --------------------------------------------------------- */

.HomeSignUp {
  background-color: #0073dd;
  margin-top: 1%;
}

.HomeSignUp .up {
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
}

.HomeSignUp .up .down {
  margin-top: 2%;
  margin-bottom: 2%;
}
.HomeSignUp .up .down p {
  margin: 0 !important;
  color: #fff;
  font-size: 2rem;
}
.HomeSignUp .up button {
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: #fff;
  color: #0073dd;
  height: 50px;
  margin-top: 3%;
  width: 230px;

  font-size: 2.5rem;
  font-weight: 900;
}

/* ----------------------------------------------------- */

.HomeNewTwoSec {
  display: flex;
  margin-left: 10%;
  justify-content: space-between;
  margin-right: 2%;
}
.HomeNewTwoSec .left {
  text-align: left;
  margin-top: 5%;
}
.HomeNewTwoSec .left p {
  margin: 0 !important;
  font-size: 3rem;
}
.HomeNewTwoSec .left ul {
  margin-left: 5%;
  margin-top: 8%;
}
.HomeNewTwoSec .left ul li {
  color: black;
  list-style: inside !important;
  list-style-type: disc !important;
  margin-top: 3%;
  font-weight: 700;
  font-size: 2rem;
}
.HomeNewTwoSec .right {
  width: 800px;
}

/* ---------------------------------------------------------------- */

.normalDiv {
  background-color: #0073dd;
  height: 10vh;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}
/* --------------------------------- */
.HomeTwoSecSecond {
  display: flex;
  width: 80%;
  margn
}
.HomeTwoSecSecond .left {
  width: 800px;
}
.HomeTwoSecSecond .right p {
  margin: 0;
  font-size: 2rem;
}
