/** @format */

.myNav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1%;
}
.myNav .up {
  width: 200px;
}
.myNav .mid {
  margin-top: 1%;
}
.myNav .mid input {
  border: 1px solid #d9d9d9;
  width: 600px;
  padding: 5px;
  outline: none !important;
  color: black;

  background-color: #d9d9d9;
}
.myNav .mid input:focus {
  border: none !important;
  outline: none !important;
}
.myNav .down ul {
  display: flex;
  gap: 30px;
}
.myNav .down ul li {
  cursor: pointer;
}
.myNav .down {
  margin-top: 1.5%;
}

.myNav .mid input:focus {
  border: 1px solid black !important;
}

/* ------------------------------------------------- */

.CourseNav {
  background-color: #475766;
  margin-top: 2%;
}

.CourseNav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.CourseNav ul li {
  font-size: 2rem;
  color: #c88a32;
  cursor: pointer;
}

/* ------------------------------------------------ */

.HomeTwoSec {
  display: flex;
  /* justify-content: space-between; */

  gap: 10%;
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
}
.HomeTwoSec .left video {
  border-radius: 20px;
  border: 8px solid #838385;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.HomeTwoSec .right {
  text-align: left;
}

.HomeTwoSec .right p {
  font-size: 2rem;
}

.HomeTwoSec .right button {
  text-align: center !important;
  display: block;
  margin: auto;
  padding: 10px;
  background-color: #3386d6;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;

  width: 300px;
  border: 1px solid #3386d6;
}

/* --------------------------------------------------------- */

.HomeSignUp {
  background-color: #0073dd;
  margin-top: 1%;
}

.HomeSignUp .up {
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
}

.HomeSignUp .up .down {
  margin-top: 2%;
  margin-bottom: 2%;
}
.HomeSignUp .up .down p {
  margin: 0 !important;
  color: #fff;
  font-size: 2rem;
}
.HomeSignUp .up button {
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: #fff;
  color: #0073dd;
  height: 50px;
  margin-top: 3%;
  width: 230px;

  font-size: 2.5rem;
  font-weight: 900;
}

/* ----------------------------------------------------- */

.HomeNewTwoSec {
  display: flex;
  margin-left: 10%;
  justify-content: space-between;
  margin-right: 2%;
}
.HomeNewTwoSec .left {
  text-align: left;
  margin-top: 5%;
}
.HomeNewTwoSec .left p {
  margin: 0 !important;
  font-size: 3rem;
}
.HomeNewTwoSec .left ul {
  margin-left: 5%;
  margin-top: 8%;
}
.HomeNewTwoSec .left ul li {
  color: black;
  margin-top: 3%;
  font-weight: 700;
  display: list-item;
  list-style-type: disc;
  font-size: 2rem;
}
.HomeNewTwoSec .right {
  width: 800px;
}

/* ---------------------------------------------------------------- */

.normalDiv {
  background-color: #0073dd;
  height: 10vh;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}
/* --------------------------------- */
.HomeTwoSecSecond {
  display: flex;
  margin-top: 2%;
  justify-content: space-evenly;
  gap: 10%;
}
.HomeTwoSecSecond .left {
  width: 800px;
}
.HomeTwoSecSecond .right p {
  margin: 0;
  font-size: 2.5rem;
}
.HomeTwoSecSecond .right {
  margin-top: 2%;
  margin-right: 5%;
}
.HomeTwoSecSecond .right button {
  width: 200px;
  border: 1px solid #0073dd;
  background-color: #0073dd;
  color: #fff;
  font-size: 2.5rem;
  padding: 10px;
  border-radius: 50px;
  margin-top: 15%;
}

/* --------------------- */
.myCarousel {
  /* margin-bottom: 5%; */
  height: 70vh;
  background-color: #d9d9d9;
}
.CarouselDiv {
  margin-top: 9%;
  background-color: #fff;
  padding: 1px;
  transition: 0.5s;
  height: 60vh;
  cursor: pointer;
}
.CarouselDiv p {
  font-size: 2rem;
}
.CarouselDiv:hover {
  transform: scale(1.1);
}

/* ------------------------------ */

.HomeBIg {
  background-image: url("../../img/New/B_2 1 copy.png");
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.HomeBIg h1 {
  padding-top: 2%;
}

.HomeBIg .Dis .left {
  display: flex;
  margin-top: 3%;
  justify-content: space-evenly;
}
.HomeBIg .Dis .left div {
  width: 600px;
}

.HomeBIg .Dis .left div p {
  font-size: 2rem;
  font-weight: 600;
}

.HomeBIg .Dis .left div button {
  width: 100px;
  border: 1px solid #e3e5e4;
  color: black;
  font-weight: bold;
  font-size: 2.3rem;
  border-radius: 10px;
  background-color: #e3e5e4;
}

.NewNormalDiv {
  background-color: #d9d9d9;
  height: 10vh;
}
.NewNormalDiv p {
  font-size: 2.5rem;
  padding-top: 2%;
  color: #9a9a9a;
  font-weight: bold;
}

.NewHome {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  margin-bottom: 2%;
}

.NewHome div {
  width: 200px;
}

.myFoo {
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}
.myFoo div {
  text-align: left;
}
.myFoo div p {
  color: #fff;
  margin: 0;
  font-size: 2.2rem;
}
.myFoo div ul {
  margin-top: 1rem;
  padding-bottom: 5rem;
}
.myFoo div ul li:hover {
  color: #fff;
}
.myFoo div ul li {
  cursor: pointer;
}

@media (max-width: 768px) {
  .HomeTwoSec {
    display: block;
  }
  .HomeTwoSec .left video {
    width: 400px;
  }
  .HomeSignUp .up {
    display: block;
  }
  .HomeSignUp .up button {
    margin-bottom: 20px;
  }
  .HomeNewTwoSec {
    display: block;
    text-align: center !important;
  }
  .HomeNewTwoSec .left .ul li {
    text-align: center;
  }
  .HomeNewTwoSec .right {
    width: 400px;
    margin-top: 10px;
  }
  .HomeTwoSec .left ul li {
    display: block;
    text-align: center;
    margin: auto;
  }
  .HomeTwoSecSecond {
    display: block;
  }
  .HomeTwoSecSecond .left {
    width: 400px;
    display: block;
    margin: auto;
  }
  .CarouselDiv {
    width: 100%;
  }
  .HomeBIg .Dis .left {
    display: block !important;
  }
  .HomeBIg .Dis .left div {
    width: 100%;
    text-align: center;
  }
  .HomeBIg {
    height: 100%;
  }
  .NewHome {
    display: block;
    margin: auto;
  }
  .NewHome div {
    display: block;
    margin: auto;
  }
  .myFoo {
    margin-top: 2%;
    display: block;
    text-align: center;
  }
  .myFoo div {
    text-align: center;
  }
  .myFoo div ul li {
    display: block;
    margin: auto;
  }
  .CourseNav ul {
    display: block;
    margin: auto;
  }
  .CourseNav ul li {
    display: block;
    margin: auto;
  }
  .myNav {
    justify-content: flex-start;
    gap: 2rem;
  }
  .myNav .down {
    display: none;
  }
  .myNav .up {
    width: 100px;
  }
  .myNav .mid input {
    width: 200px;
  }
  .reponsiveBar {
    display: block !important ;
    position: absolute;
    right: 0;
    margin-top: 10px;
    cursor: pointer;
    z-index: 9999;
  }
}

.reponsiveBar {
  display: none;
}
.sideBar{
  background-color: #475766;
  width: 50%;
  height: 300px;
  /* margin-left: -300px; */
  position: absolute;
  border: 1px solid #475766;
  color: #c88a32;
}
.sideBar ul{
  margin-top: 5%;
}
.sideBar ul li{
  margin-left: 5%;
}
