.MuiInputBase-root {
  font-size: 20px !important;
}
.price-text {
  margin: 20px 8px;
  font-size: 20px;
}
.user-container {
  width: 100%;
  margin: 5% 5% 4% 5%;
  max-width: 100% !important;
}
.coupon-style {
  width: 600px;
  /* margin-left: -100px */
}
.package-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coupon-message {
  margin-left: -10%;
  margin-top: 20px;
}
.partner-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.superadmin-package-title {
  margin-top: 100px;
  margin-bottom: 40px;
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .superadmin-package-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .cart-coupon-enter {
    width: 80% !important;
  }
  .user-form-group {
    width: 100%;
  }
}
