.section-heading {
  text-align: center;
  margin-bottom: 80px;
}

.section-heading h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1e1e1e;
}

.section-heading em {
  font-style: normal;
  color: #0066cc;
  font-weight: 700;
}

.section-heading span,
.span-black {
  display: block;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  color: #666;
  letter-spacing: 1px;
}
.home-images {
  display: flex;
  margin: 20px 100px;
}
.image-prop {
  width: 350px;
}
.down-content {
  background-color: #f7f7f7;
  padding: 40px 16px;
  margin: 20px;
  height: 250px;
}
.down-content h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  /* margin-bottom: 5px; */
}
.down-content p {
  font-size: 16px;
  color: #666666 !important;
  line-height: 30px;
  text-align: center;
  margin: 10px;
}
.home-justify {
  text-align: justify;
}
.home-image-space {
  margin-top: 50px;
}

.fun-facts {
  margin-top: 140px;
  background-image: url(../../../img/fun-facts-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 140px 0px;
  color: #fff;
}

.fun-facts span {
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}

.fun-facts h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 35px;
  color: inherit;
}

.fun-facts em {
  font-style: normal;
  color: #0066cc;
}

.fun-facts p {
  color: #fff;
  margin-bottom: 40px;
}

.fun-facts .left-content {
  margin-right: 45px;
}

.home-container2 {
  display: flex;
  justify-content: space-around;
}
.home-container2 .left-content {
  width: 40%;
  margin: 10px 30px;
}
.home-container2 .right-content img {
  width: 400px;
  height: 400px;
}
.left-content p {
  margin: auto !important;
}
.filled-button {
  background-color: #0066cc;
  color: #fff !important;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
  margin-left: -480px;
  margin-top: 40px;
}

.filled-button:hover {
  background-color: #fff;
  color: #0066cc !important;
}

.home-container3 {
  display: flex;
  margin: 100px;
  justify-content: space-around;
  text-align: left;
  background-color: #f7f7f7;
}

.home-container3 .right-content {
  padding: 45px 45px 45px 30px;
  margin-left: 60px !important;
}
.right-content span {
  text-transform: uppercase;
  font-size: 15px;
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}
.right-content h2 {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 35px;
}

.home-container3 .right-content p {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: auto !important;
  color: black !important;
}

.right-content .button1 {
  background-color: #0066cc;
  color: #fff !important;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
}

.home-container4 {
  display: flex;
  justify-content: space-around;
  margin-top: 140px;

  background-image: url(../../../img/fun-facts-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  padding: 140px 0px;
  color: #fff;
}
.home-container4 .left-content h2,
.home-container4 .left-content p {
  color: #fff !important;
}

.home-container4 .left-content .button2 {
  background-color: #0066cc;
  color: #fff !important;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
  padding: 12px 30px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
}

.home-container4 .left-content {
  width: 40%;
  text-align: justify;
  font-size: 14px;
}
.right-frame {
  color: #f7f7f7;
  width: 560px;
  height: 385px;
}

.span-style {
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}

.home-container4 .left-content h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 35px;
}
.home-container5 {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  margin-top: 140px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 150px;
}

.home-container5 h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1e1e1e;
}
.home-container5 .inner-container {
  display: flex;
  justify-content: space-around;
  text-align: center;

  padding: 30px;
  border-radius: 5px;
}
.home-container5 .inner-container p {
  color: black !important;
  text-align: center;
  margin: 10px;
}
.cont5-box {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  margin-left: 50px;
}

.smallimage {
  margin-top: 30px;
}

.home-container5 h4 {
  font-size: 19px;
  font-weight: 700;
  color: #1e1e1e;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

.home-request-form {
  background-color: rgba(17, 1, 0.5);
  padding: 100px;
  /* margin: 80px; */
}

.border-button3 {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 28px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
}
.border-button3:active,
.border-button3:hover {
  background-color: #0066cc;
}
.home-form {
  display: flex;
  flex-direction: column;
}
.form-inputs {
  display: flex;
}
.home-form {
  margin: auto 40px;
}
.form-inputs input {
  margin: 10px;
  margin-bottom: 40px;
}
.form-textarea textarea {
  margin-bottom: 30px;
  margin-right: -10px;
}
.home-container6 {
  margin-top: 90px;
}

.home-image-container {
  display: flex;
  background-color: #f7f7f7;
  margin-top: 100px;
  padding: 60px 100px;
  justify-content: space-around;
}
.home-image-container img {
  margin: 40px;
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .carousel .slide .legend {
    top: -50px;
    left: 46%;
  }
  .slide-font-size {
    font-size: 18px;
    letter-spacing: normal;
  }
  .slides-button {
    padding: 6px 12px;
    margin-top: 10px;
    font-size: 10px;
  }
  .slide-subtext-mobile {
    display: flex;
    font-size: 7px;
    line-height: 15px;
  }
  .slide-subtext {
    display: none;
  }
  .home-images {
    flex-direction: column;
    margin: 20px 20px;
  }
  .section-heading {
    margin: 20px 10px;
  }
  .home-images .image-prop {
    width: 280px !important;
  }
  .down-content {
    padding: 30px 0px;
    margin: 20px 10px;
    height: 200px;
  }
  .home-container2 {
    flex-direction: column;
  }
  .home-container2 .left-content {
    width: 84%;
    margin: 30px 30px 40px 30px;
    font-size: 26px;
  }

  .home-container2 .right-content img {
    width: 100%;
    height: 100%;
  }
  .left-content .filled-button {
    margin-left: 30px;
  }
  .home-container4 {
    flex-direction: column;
    margin-top: 0px;
    padding: 50px 10px;
  }
  .home-container4 .left-content {
    width: 90%;
    margin: auto 20px;
  }
  .home-container4 .right-frame {
    width: 90%;
    height: 250px;
  }
  .home-container3 {
    flex-direction: column;
    margin: 40px 0px;
    background-color: unset;
  }
  .home-container3 .left-content {
    display: flex;
    width: 85%;
    margin: 0px 30px;
  }
  .home-container3 .left-content img {
    width: 100%;
    /* margin-left: -80px; */
    height: 300px;
  }
  .home-container3 .right-content {
    padding: 30px 30px 0px 30px;
    width: 100%;
    text-align: justify;
    margin: 0px !important;
  }
  .home-container3 .right-content h2 {
    font-size: 32px;
    width: 360px;
  }
  .home-container5 {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 5px;
  }
  .home-container5 .inner-container {
    flex-direction: column;
  }
  .cont5-box {
    padding: 8px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .home-request-form {
    padding: 1px;
    margin: 20px 0px;
  }
  .form-inputs {
    flex-direction: column;
  }
  .home-form {
    margin: 10px 40px;
  }
  .form-inputs input,
  .form-textarea textarea {
    margin-bottom: 20px;
  }
  .home-image-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 0px;
  }
  .home-container4 .left-content .button2 {
    margin-bottom: 30px;
  }
  .form-textarea {
    margin-left: 10px;
    margin-right: -10px;
  }
  .request-form {
    padding: 5px 1px !important;
  }
  .down-content p {
    padding: 10px 2px;
    margin: 10px;
  }
  .fun-facts {
    padding: 10px 0px;
    margin-top: 40px;
  }
  .fun-facts h2 {
    font-size: 26px;
  }
  .home-container2 .right-content {
    display: flex;
    margin-bottom: 30px;
  }
  .home-container3 .right-content {
    display: block;
  }
  .home-container3 .right-content h2 {
    font-size: 32px;
    width: 300px;
  }
  .home-container3 .right-content p {
    margin: 0px 0px 30px 0px;
  }
  .home-container4 .left-content h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .home-container5 .inner-container p {
    margin: 10px;
    padding: 10px;
  }
  .smallimage {
    margin-top: -20px;
  }
  .section-heading em {
    font-size: 36px;
  }
  .home-container5 h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .span-black,
  .section-heading span {
    font-size: 14px;
  }
  #sub-footer p {
    margin-top: 20px;
  }
}
@media screen and (max-width: 320px) {
  .carousel.carousel-slider {
    height: 250px;
  }
  .landing-signup-container {
    display: flex;
    flex-direction: column;
    margin: 10px !important;
  }
  .landing-signup-right .border-button {
    padding: 8px 5px;
    width: 90px;
  }
  .slide-font-size {
    font-size: 16px;
  }
  .carousel .slide .legend {
    top: -65px;
    left: 46%;
  }
  .slides-button {
    padding: 6px 12px;
    margin-top: 10px;
    font-size: 10px;
  }
  .slide-subtext-mobile {
    display: flex;
    font-size: 7px;
    line-height: 15px;
  }
  .slide-subtext {
    display: none;
  }
  .home-images {
    flex-direction: column;
    margin: 20px 20px;
  }
  .section-heading {
    margin: 20px 10px;
  }
  .home-images .image-prop {
    width: 280px !important;
  }
  .down-content {
    padding: 30px 0px;
    margin: 20px 10px;
    height: 200px;
  }
  .home-container2 {
    flex-direction: column;
  }
  .home-container2 .left-content {
    width: 84%;
    margin: 30px 30px 40px 30px;
    font-size: 26px;
  }

  .home-container2 .right-content img {
    width: 100%;
    height: 100%;
  }
  .left-content .filled-button {
    margin-left: 30px;
  }
  .home-container4 {
    flex-direction: column;
    margin-top: 0px;
    padding: 50px 10px;
  }
  .home-container4 .left-content {
    width: 90%;
    margin: auto 20px;
  }
  .home-container4 .right-frame {
    width: 90%;
    height: 250px;
  }
  .home-container3 {
    flex-direction: column;
    margin: 40px 0px;
    background-color: unset;
  }
  .home-container3 .left-content {
    display: flex;
    width: 90%;
    margin: 0px 20px;
  }
  .home-container3 .left-content img {
    width: 100%;
    /* margin-left: -80px; */
    height: 300px;
  }
  .home-container3 .right-content {
    padding: 30px 20px 0px 20px;
    width: 100%;
    text-align: justify;
    margin: 0px !important;
  }
  .home-container3 .right-content h2 {
    font-size: 32px;
    width: 360px;
  }
  .home-container5 {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 5px;
  }
  .home-container5 .inner-container {
    flex-direction: column;
  }
  .cont5-box {
    padding: 8px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .home-request-form {
    padding: 1px;
    margin: 20px 0px;
  }
  .form-inputs {
    flex-direction: column;
  }
  .home-form {
    margin: 10px 40px;
  }
  .form-inputs input,
  .form-textarea textarea {
    margin-bottom: 20px;
  }
  .home-image-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 0px;
  }
  .home-container4 .left-content .button2 {
    margin-bottom: 30px;
  }
  .form-textarea {
    margin-left: 10px;
    margin-right: -10px;
  }
  .request-form {
    padding: 5px 1px !important;
  }
  .down-content p {
    padding: 10px 2px;
    margin: 10px;
  }
  .fun-facts {
    padding: 10px 0px;
    margin-top: 40px;
  }
  .fun-facts h2 {
    font-size: 26px;
  }
  .home-container2 .right-content {
    display: flex;
    margin-bottom: 30px;
  }
  .home-container3 .right-content {
    display: block;
  }
  .home-container3 .right-content h2 {
    font-size: 32px;
    width: 300px;
  }
  .home-container3 .right-content p {
    margin: 0px 0px 30px 0px;
  }
  .home-container4 .left-content h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .home-container5 .inner-container p {
    margin: 10px;
    padding: 10px;
  }
  .smallimage {
    margin-top: -20px;
  }
  .section-heading em {
    font-size: 36px;
  }
  .home-container5 h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .span-black,
  .section-heading span {
    font-size: 14px;
  }
  #sub-footer p {
    margin-top: 20px;
  }
}
/* @media screen and (max-width: 320px) {
  .landing-signup-container {
    margin: 10px !important;
  }
  .landing-signup-right .border-button {
    padding: 8px 5px;
    width: 90px;
  }
  .section-heading h2 {
    font-size: 22px;
  }
  .request-form h4 {
    font-size: 18px !important;
  }
  .home-images {
    flex-direction: column;
    margin: 20px -20px;
  }
  .home-images .image-prop {
    width: 350px;
  }
  .home-container2 {
    flex-direction: column;
  }
  .home-container2 .left-content {
    width: 270px;
    margin-left: 20px;
    font-size: 26px;
  }

  .home-container2 .right-content img {
    width: 400px;
    height: 300px;
  }
  .left-content .filled-button {
    margin-left: 30px;
  }
  .home-container4 {
    flex-direction: column;
    padding: 50px 10px;
  }
  .home-container4 .left-content {
    width: 83%;
    margin: auto 30px;
  }
  .home-container4 .right-frame {
    width: 84%;
    height: 200px;
  }
  .home-container3 {
    flex-direction: column;
  }
  .home-container3 .left-content img {
    width: 280px;
    margin-left: -80px;
    height: 300px;
  }
  .home-container3 .right-content {
    padding: 45px 45px 45px 30px;
    margin-left: -100px !important;
    width: 390px;
    text-align: justify;
  }
  .home-container3 .right-content h2 {
    font-size: 32px;
    width: 280px;
  }
  .home-container3 .right-content p {
    margin-bottom: 20px;
  }
  .home-container5 {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 5px;
  }
  .home-container5 .inner-container {
    flex-direction: column;
  }
  .cont5-box {
    padding: 8px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .home-request-form {
    padding: 1px;
    margin: 20px 0px;
  }
  .form-inputs {
    flex-direction: column;
  }
  .home-form {
    margin: 10px 20px;
  }
  .form-inputs input,
  .form-textarea textarea {
    margin-bottom: 20px;
  }
  .home-image-container {
    overflow-x: scroll;
  }
  .form-textarea {
    margin-left: 10px;
    margin-right: -10px;
  }
  .request-form {
    padding: 5px 1px !important;
  }
  .down-content p {
    padding: 10px 2px;
    margin: 10px;
  }
  .fun-facts {
    padding: 10px 0px;
    margin-top: 40px;
  }
  .fun-facts h2 {
    font-size: 26px;
  }
  .home-container2 .right-content {
    display: none;
  }
  .home-container3 .right-content {
    display: block;
  }

  .home-container4 .left-content h2 {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .home-container5 .inner-container p {
    margin: 5px;
    padding: 5px;
  }
  .smallimage {
    margin-top: -20px;
  }
  .section-heading em {
    font-size: 36px;
  }
  .home-container5 h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .span-black,
  .section-heading span {
    font-size: 14px;
  }
  .fun-facts h2 {
    font-size: 23px;
  }
  .fun-facts {
    margin-top: 5px;
  }
  .left-content .filled-button {
    margin-left: 0px;
    margin-top: 20px;
  }
} */

@media screen and (min-width: 480px) and (max-width: 750px) {
  .home-images {
    flex-direction: column;
    margin: 20px 30px;
  }
  .home-images .image-prop {
    width: 350px;
  }
  .home-container2 {
    flex-direction: column;
  }
  .home-container2 .left-content {
    width: 330px;
    margin-left: 40px;
    font-size: 26px;
  }

  .home-container2 .right-content img {
    width: 400px;
    height: 300px;
  }
  .left-content .filled-button {
    margin-left: 30px;
  }
  .home-container4 {
    flex-direction: column;
    padding: 50px 10px;
  }
  .home-container4 .left-content {
    width: 83%;
    margin: auto 30px;
  }
  .home-container4 .right-frame {
    width: 80%;
    height: 250px;
  }
  .home-container3 {
    flex-direction: column;
  }
  .home-container3 .left-content img {
    width: 330px;
    margin-left: -60px;
    height: 300px;
  }
  .home-container3 .right-content {
    padding: 45px 45px 45px 30px;
    margin-left: -80px !important;
    width: 460px;
    text-align: justify;
  }
  .home-container3 .right-content h2 {
    font-size: 32px;
    width: 360px;
  }
  .home-container5 {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 5px;
  }
  .home-container5 .inner-container {
    flex-direction: column;
  }
  .cont5-box {
    padding: 8px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .home-request-form {
    padding: 1px;
    margin: 20px 0px;
  }
  .form-inputs {
    flex-direction: column;
  }
  .home-form {
    margin: 10px 40px;
  }
  .form-inputs input,
  .form-textarea textarea {
    margin-bottom: 20px;
  }
  .home-image-container {
    overflow-x: scroll;
  }
  .form-textarea {
    margin-left: 10px;
    margin-right: -10px;
  }
  .request-form {
    padding: 5px 1px !important;
  }
  .down-content p {
    padding: 10px 2px;
    margin: 10px;
  }
  .fun-facts {
    padding: 10px 0px;
  }
  .fun-facts h2 {
    font-size: 26px;
  }
  .home-container2 .right-content {
    display: none;
  }
  .home-container3 .right-content {
    display: block;
  }
  .home-container3 .right-content h2 {
    font-size: 32px;
    width: 300px;
  }
  .home-container4 .left-content h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .home-container5 .inner-container p {
    margin: 10px;
    padding: 10px;
  }
  .smallimage {
    margin-top: -20px;
  }
  .section-heading em {
    font-size: 36px;
  }
}

.our-company,
.career-growth,
.home-about-us,
.commitements,
.near-80,
.expert-works-blue {
  font-style: normal;
  color: #0066cc;
  font-weight: 700;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .carousel.carousel-slider {
    height: 500px !important;
  }
  .carousel .slide .legend {
    background: none;
    opacity: 0.8;
    text-align: left;
    font-size: 21px;
    bottom: 80px;
    left: 50%;
  }
  .carousel .slide img {
    width: 100%;
    border: 0;
    margin-top: -40px;
    background-size: cover;
    background-position: center center;
  }
  .filled-button {
    margin-right: -325px;
  }
  .image-prop {
    width: 250px;
  }
  .home-images {
    margin: 20px 50px;
  }
  .home-container3 .right-content p {
    margin: 20px;
  }
  .home-container3 .right-content {
    padding: 0px;
    margin-left: 30px !important;
  }
  .right-content .button1 {
    margin-bottom: 20px;
  }
  .fun-facts {
    margin: 60px 0px 0px 0px;
    padding: 60px 0px;
  }
  .home-container2 .left-content {
    width: 45%;
  }
  .home-container4 {
    margin-top: 60px;
    padding: 60px;
  }
  .home-container5 {
    margin-top: 60px;
    padding: 60px;
  }

  .home-image-container {
    margin-top: 60px;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) {
  .carousel.carousel-slider {
    height: 500px !important;
  }
  .carousel .slide .legend {
    background: none;
    opacity: 0.8;
    text-align: left;
    font-size: 21px;
    bottom: 220px;
    left: 50%;
  }
  .down-content {
    height: 220px;
  }
  .carousel .slide img {
    width: 100%;
    border: 0;
    margin-top: -150px;
    background-size: cover;
    background-position: center center;
  }
  .filled-button {
    margin-right: -325px;
  }
  .image-prop {
    width: 300px;
  }
  .home-images {
    margin: 20px 100px;
  }
  .fun-facts {
    margin: 60px 0px 0px 0px;
    padding: 60px 0px;
  }
  .home-container2 .left-content {
    width: 45%;
  }
  .home-container4 {
    margin-top: 60px;
    padding: 60px;
  }
  .home-container5 {
    margin-top: 60px;
    padding: 60px;
  }
  .home-image-container {
    margin-top: 60px;
  }
}

@media only screen and (min-device-width: 1367px) and (max-device-width: 1605px) {
  .carousel.carousel-slider {
    height: 560px !important;
  }
  .carousel .slide .legend {
    background: none;
    opacity: 0.8;
    text-align: left;
    font-size: 21px;
    bottom: 280px;
    left: 50%;
  }
  .carousel .slide img {
    width: 100%;
    border: 0;
    margin-top: -170px;
    background-size: cover;
    background-position: center center;
  }
  .filled-button {
    margin-right: -325px;
  }
  .home-images {
    margin: 20px 100px;
  }
  .home-container2 {
    padding: 0px 100px;
  }
  .fun-facts {
    margin: 60px 0px 0px 0px;
    padding: 60px 0px;
  }
  .home-container2 .left-content {
    width: 45%;
  }
  .home-container4 {
    margin-top: 60px;
    padding: 60px 120px;
  }
  .home-container5 {
    margin-top: 60px;
    padding: 60px;
  }
  .home-image-container {
    margin-top: 60px;
  }
}
